/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

.top-nav {
  padding-left: calc(2vh + 10%);
}

form {
  border: 1px solid #a9a9a9;
  padding: 20px;
  flex-wrap: wrap;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
  padding-top: 1vh;
}

a {
  color: #335eea;
  text-decoration: none;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
}

.form select {
  height: 30px;
}

.content {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
}

#sign-in,
#sign-up {
  width: 100%;
  height: 100%;
  padding: 2vh;
  max-width: 100%;
}

#sign-in-form {
  height: auto;
  width: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

#sign-up-form {
  height: auto;
  width: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

#sign-up-form .form-radio-control label {
  font-weight: normal;
}

hr {
  display: flex;
}
.form-header {
  padding: 0 0 2vh 0;
}

#sign-in .form-input-control {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

#sign-up .form-input-control {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.form-input-control * {
  padding-bottom: 6px;
}

.form-checkbox-control {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-checkbox-control label {
  padding-left: 1vh;
}

.form-submit-control {
  box-sizing: border-box;
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.form-group-horizontal-control {
  max-height: 54px;
  max-width: 760px;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
}

.form-group-horizontal-control * {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}

.form-group-horizontal-control select {
  height: 30px;
  padding: 0;
  flex-shrink: 0;
}
